#images-div img{
     width: 300px;
     height: 300px;
     border: 3px solid #141314;

   }

   h1,h2,h3,h4,h5,h6{
    font-family: "Lucida Console", "Courier New", monospace;
   }

   h1{
    text-align: center;
    padding-top: 40px;

    color: #fcfaef; 
    /* font-family: 'Trocchi', serif;  */
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
   }

  #results-list{
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
  }

  #results-list li{
    padding: 5px;
    font-family: 'Helvetica Neue', sans-serif;
  }

  #images-div{
   margin-left: 150px;
   margin-top: 100px;

  }

  nav li{
    float: left;
    top: 5px;
    line-height: 5px;
    padding: 30px;
    background-color: rgb(228, 161, 107);
    text-decoration: none;
  }

  div{
    display: inline-block;
  }
 
 
  footer a {
    text-decoration: none;
    color: darkgoldenrod;
  }

  footer li {
    display: inline-block
  }

  
  footer img {
    height: 50px;
    width: 50px;
    padding-top: 10px;
  }

  .socialIcon {
    text-align: center;
    list-style: inside;
    margin-top: 20px;
  }

  .chart {
    text-align: center;
    margin: auto;
    margin-right: 20px;
  }
  
  .row {
    margin-bottom: 150px;
  }

  .col-chart{
    margin-right: 30px;
    margin-left: 35px;

  }

 
  body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    grid-template-rows: 150px 2fr 150px;
}

header{
    background-color: #965d62;
    grid-column: 1/-1;
}  

main{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

main aside{

    background-color:#6e4343;
    grid-column: 1/2;
}

main div{
    background-color:#fff3e6;
    grid-column: 2/-1;
}

footer{
    grid-column: 1/-1;
    background-color: #534e52;
}

button{
   margin-left: 150px;
   width: 100px;
}
